<section class="main-img"></section>

  <div class="about">
    <h1 class="text-center">Welcome to sfDB</h1>
  <p>The San Francisco Database is a catalogue of planned new construction in San Francisco. It includes new residential, office, infrastructure, and parks, and attractions in the area.</p>
  <p>sfDB was put together to better understand the recent changes in San Francisco.<p>
  <p> This site uses these technologies: HTML5, CSS3, SASS/SCSS, AngularJS + libraries, Angular Google Maps, Bootstrap, and Gulp. In addition to these, I can also work with jQuery, plain JavaScript, and Wordpress. Contact me if you would like to know more about sfDB. </p>
  <br><a class="pull-right btn" href="http://jamesgreve.com">sfDB Administrator</a>
  <div class="clear"></div>
  </div>
