<div class="main-img">
	<img src="/client/img/rain.jpg">
</div>

  <div class="about">
    <h1 class="text-center">Welcome to the sanfranciscoDB</h1>
    <div class="">
  <p>The San Francisco Database is a catalogue of planned new construction in San Francisco. It includes new residential, office, infrastructure, and parks, and attractions in the area.</p>
  <p>sfDB was put together to better understand the recent changes in San Francisco.<p>
  <p> This site uses these technologies: HTML5, CSS3, SASS/SCSS, AngularJS + libraries, Angular Google Maps, Bootstrap, and Gulp. In addition to these, I can also work with jQuery, plain JavaScript, and Wordpress. Contact me if you would like to know more about sfDB. </p>
  <br><a class="btn admin" href="http://jamesgreve.com">sfDB Administrator</a>
  </p><div>
  <div class="clear"></div>
  </div>
