@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

html { height: 100%; }
body { background-color: #DDE0DD; font-family: 'Lato', sans-serif; font-size: 14px; color:#32331D; height: 100%; overflow:hidden; }
img { max-width: 100%; height: auto; }
/*---------Default Styles--------*/
.centered { margin: auto; float: none; }
hr { margin-bottom: 10px; color: #fff; }
.filters input { color: #000; }
h1 { font-weight: 900; font-size: 65px; color: #fff; }
h1 span { font-weight: 100; }
h3 { margin: 10px 0px 0px 0px; }
h3.section-title { text-transform: uppercase; font-weight: 900; font-size: 30px; }
h4 { font-size: 21px; letter-spacing: -0.5px; line-height: 19px; text-transform: uppercase;  }
.work h4 { background:#ececec; font-size: 14px; color: #5b6869; padding: 5px; margin: 0; margin-bottom: 10px; }
.footer p { margin-bottom: 0px; }
p { margin-bottom: 5px !important; }
.headtext { font-size: 2em; font-weight: 200; }
.iconlink a:hover { color: #589058; }
input { color: #000; }
.boxes { list-style: none; }
.boxes a { transition: 0.3s; -webkit-transition: 0.3s; }
.boxes a:hover { position: relative; opacity: .7; }
.page { margin-left: 5px; margin-bottom: 5px; }
.right { float: right; }
.left { float:left; }
select { color: #000; }

/*---------Buttons---------*/
.btn-default { color: #589058; background: none; border: #fff 1px solid; padding: 2px 16px; }
.btn-default:hover { color: #589058; background: #fff; border: #fff 1px solid; }
.btn-group button { clear:both; }
.fa-times { color: red; }
.main-header { background: url('/img/rain.jpg'); height: 500px; background-position: 0px -50px; color: #fff; }
.dark { background: #222; color: #bbb; padding-top: 10px; padding-bottom: 10px; }
a.footer-logo { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; }
a.footer-logo:hover { text-decoration: none; color: #5a9789; }
.clear { clear: both; }
a { color: #fff; text-decoration: none; }
.filters { font-weight: 300; font-size: 1em; color: #fff; margin-left: 15px; }
.click { margin-left: 15px; color: #fff; clear: both; display: block; margin-bottom: 10px; }
.sidebar { background-color: #589058; height:100%; position: relative; border-right: 1px solid #5b6869; }
.content { position: relative; background-color: #DDE0DD; }
.container-fluid, .col-sm-9, .col-md-10, .col-sm-3, .col-md-2 { padding: 0px; margin: 0px; }
.col-sm-9, .col-md-10 { height: 100%; overflow:auto; }
i { margin-right: 15px; }
.mark { position: absolute; margin-left: auto; margin-right: auto; bottom: 5px; }
.list-group-item { display: block; clear: both; background-color: #DDE0DD; border: none; width: 100%; }
.list-group-item:first-child, .list-group-item:last-child { border-radius: 0; }
.list-group-item:hover { cursor: pointer;}
.col-md-4 { padding: 0 5px; }
.pad { padding: 5px; margin: 5px; }
.compact { overflow: scroll }
.intro { font-size: 2em; font-weight: 200; color: #ddd; }
.database { margin-top: 10px; margin-left: 4px; }
.center { margin-left: auto; margin-right: auto; float: none; }
.footer { position: absolute; width: 100%; bottom: 5px; }
.details { margin-left: 10px; padding: 10px; }
.contact { margin-top: 50px; }
.modal-content { background-color: #ccd0cc; }
.interest a { color: #589058; }
.interest a:hover { color: #fff; }
